@{
    Layout = null;
}

<!DOCTYPE html>



@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Admin</h1>
<a href="#">Manage Users |</a>
<a href="#">Manage Departments |</a>
<a href="@Url.Action("Category", "Category")">Manage Category |</a>
<a href="#">Manage Users Role |</a>
<a href="#">Manage Ideas |</a>
<a href="#">Manage Comments |</a>
<a href="@Url.Action("Coordinator", "Statistics")">Manage Category |</a>



