@model SIMS_CW.Models.category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Delete Category
}
@section title_page {
    Delete Category
}
<h3 class="headerw3" style="margin-bottom: 30px;">Delete Category</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Category Name</dt>
        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>

        <dt>Created At</dt>
        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
