
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Index
}

@section title_page {
    Index
}

<style>
    .services-breadcrumb-w3ls-agile {
        display: none;
    }
</style>

<div class="banner_bottom_in">
    <h3 class="headerw3">Take the world's best courses, online.</h3>

    <p>
        Lorem ipsum dolor sit amet, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="edu_button">
        <a class="btn btn-primary btn-lg" href="about.html" role="button">Read More </a>
    </div>
    <iframe src="https://www.youtube.com/embed/HndV87XpkWg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
</div>

<!--<img src='/Home/MockedGraph' />-->
