
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Index
}

@section title_page {
    Index
}

<style>
    .services-breadcrumb-w3ls-agile {
        display: none;
    }
</style>

<div class="banner_bottom_in">
    <h3 class="headerw3">Welcome to the Student Idea Management System.</h3>

    <p>
        Thank you for visiting our SIMS system. 
        The SIMS system provides a convenient communication channel where you can let your voice heard. 
        Our goal, as the Quality Management team, is to ask for your opinion on issues that bother you in terms of University related matters,
        or suggestions that can improve your time and our time here at the university. Your opinion is pricesless, therefore, we would like to
        encourage you to participate and submit and idea or suggestion.
        
    </p>
    <p>
        Many thanks on behave of the QA Management team and the University.
    </p>
</div>

<!--<img src='/Home/MockedGraph' />-->
