
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Terms & Conditions
}

@section title_page {
    Terms & Conditions
}

<style>
    .ab_info h4 {
        margin-top: 1em;
        color: #333;
        font-size: 2em;
        font-weight: 500;
    }

    .ab_info p {
        text-align: justify;
    }
</style>

<div>
    <h3 class="headerw3">Terms and Conditions</h3>
    <div class="inner_sec_w3_agileinfo">
        <div class="ab_info">
            <img src="~/Assets/images/banner5.jpg" alt=" " class="img-responsive">
            <p>
                <h4>Terms & Conditions</h4>
            <p>
                To agree with this ‘Terms & Conditions’ (T&C) document, you acknowledge that you have read and understood the information given below.
                We (…University) would like to improve our university and we need you (our students) to help us. In order to improve our university and create a pleasant environment for you, we would like to encourage all users of this Student Idea Submission System (SIMS) to contribute by submitting ideas and comments. We are very curious to hear from you.
                As the purpose of this SIMS is for sharing personal opinions and views, we would like to stress that these opinions and views are not ours; thus, we cannot be held responsible for any submitted content.
                To protect contributors from doing the wrong thing, we urge you to comply with the following guidelines and rules when submitting any content on this SIMS
            </p>
            <h4>Ideas & Comments</h4>
            <p>
                Submitted ideas and comments should not contain
                •	Offensive and vulgar language (e.g. cursing, swearing, etc.)
                •	Offensive content to members of different gender, religion, race, nationality, ethnicity, or sexual orientation
                •	Bullying
                •	Advertisements or spam
                •	Personal information (e.g. phone numbers, email, etc.)

                We encourage contributors to stay respectful towards other’s opinions and take their views into consideration when commenting an idea. Disagreement with or disapproval of a particular opinion or view may lead to anger and conflicts; however, we urge contributors to restrain their anger and stay civilized. Treat others the way you want to be treated.

                Important Note: Ideas and comments can be submitted as ‘Anonymous’. The identity of contributors who have submitted their ideas and comments as anonymous will be hidden for other students to see; however, we will be able to retrieve identities of all anonymously submitted content.
            </p>
            <h4>Votes</h4>
            <p>
                Votes help us to evaluate the popularity of ideas and are extremely important to us. Therefore, a vote given to a specific idea should only express your opinion regarding that related idea and should not reflect any other opinions not related to the idea, such as personal dislike of the owner of the idea.
            </p>
            <h4>Collected data</h4>
            <p>
                All collected data, including student information, ideas, votes, and comments will be stored for further processing. This data will then be analyzed and appropriate ideas will be discussed in board meetings before implementation. In addition, the collected data will be kept confidential and will only be used for its initial intended purpose.
            </p>
            <h4>Violations</h4>
            <p>
                Inappropriate content and behavior are unacceptable and we reserve the right to remove any submitted content in violation with this T&C document. Furthermore, extreme cases may result in disciplinary actions, direct suspension, or worse, and will be reviewed on a case-to-case basis.
            </p>
            <h4>Contact</h4>
            <p>
                Any questions and comments regarding this T&C document can be sent to: simscw2018@gmail.com
            </p>
        </div>
    </div>
</div>