.btn-adjust .btn {
    /* padding: 1px 3px;*/
    padding: 1px 0 1px 5px;
}
td{
    font-size: 12px;
}

td.btn-adjust{
    width: 120px;
}

td.column-create_at{
    width: 140px;
}

.btn-hint {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.btn-hint .hinttext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.btn-hint:hover .hinttext {
    visibility: visible;
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-bottom: 15px;
        margin-left: 195px;
    }
}

.dl-horizontal dd {
    margin-bottom: 15px;
}

/*--------IDEA DISPLAY---------*/

hr {
    margin: 5px 0 15px 0;
}

.panel-white {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: aliceblue;
}

.panel-gray {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #f6f6f6;
}

.panel-darkergray {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #bfbfbf;
}

.post .post-heading {
    height: 70px;
    padding: 20px 15px 0 15px;
}

    .post .post-heading .meta .title {
        margin-bottom: 0;
    }

        .post .post-heading .meta .title a {
            color: black;
        }

            .post .post-heading .meta .title a:hover {
                color: #aaaaaa;
            }

    .post .post-heading .meta .time {
        margin-top: 8px;
        color: #999;
    }

.post .post-description {
    padding: 15px;
}

    .post .post-description p {
        font-size: 14px;
    }

    .post .post-description .stats {
        margin-top: 5px;
    }

        .post .post-description .stats .stat-item form {
            display: inline-block;
            margin-right: 15px;
        }

        .post .post-description .stats .stat-item .icon {
            margin-right: 8px;
        }


/*---------STAFF RIBBON--------*/

    .ribbon {
        position: absolute;
        right: 10px;
        top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
        text-align: right;
    }

        .ribbon span {
            font-size: 10px;
            font-weight: bold;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 100px;
            display: block;
            background: #79A70A;
            background: linear-gradient(#F79E05 0%, #8F5408 100%);
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px;
            right: -21px;
        }

            .ribbon span::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid #8F5408;
                border-right: 3px solid transparent;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #8F5408;
            }

            .ribbon span::after {
                content: "";
                position: absolute;
                right: 0px;
                top: 100%;
                z-index: -1;
                border-left: 3px solid transparent;
                border-right: 3px solid #8F5408;
                border-bottom: 3px solid transparent;
                border-top: 3px solid #8F5408;
            }