@model SIMS_CW.Models.idea

@{
    ViewBag.Title = "Create Idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    Create a new idea
}

@section title_page {
    Create a new idea
}

<style>
    .custom-margin-bottom-20px {
        margin-bottom: 20px;
    }

    #categoryID {
        font-size: 16px;
        color: #5a5656;
        padding: 12px;
        border: 0;
        width: 100%;
        border: 1px solid rgba(160, 152, 152, 0.45);
        background: none;
        outline: none;
        margin-bottom: 18px;
    }
</style>

<div>
    <h3 class="headerw3">Create a new idea</h3>
    <div class="inner_sec_w3_agileinfo">
        <div class="register-form">
            <form action="/Idea/Create" class="form-horizontal" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div class="fields-grid">
                    <div class="styled-input agile-styled-input-top">
                        <label class="custom-margin-bottom-20px">Category:</label>
                        @Html.DropDownList("categoryID", Session["cateCbb"] as SelectList)
                    </div>
                    <div class="styled-input">
                        <label class="custom-margin-bottom-20px">Title:</label>
                        <input type="text" name="idea_title" required="">
                        @Html.ValidationMessageFor(model => model.idea_title, "", new { @class = "text-danger" })
                    </div>
                    <div class="styled-input custom-margin-bottom-20px">
                        <label class="custom-margin-bottom-20px">Content:</label>
                        <textarea class="form-control" rows="10" id="idea_content" name="idea_content"></textarea>
                        @Html.ValidationMessageFor(model => model.idea_content, "", new { @class = "text-danger" })
                    </div>
                    <div class="styled-input custom-margin-bottom-20px" style="display: flex;">
                        <label style="margin-right: 10px;">Attachment:</label>
                        <input id="files" multiple="multiple" name="files" type="file" value="">
                    </div>
                    <div class="styled-input">
                        <label style="margin-right: 5px;">Post Anonymously:</label>
                        <input type="checkbox" name="isAnonymous">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</div>
